__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ipynb_checkpoints/

.venv/
venv/
.env

dataset/train/
dataset/validation/
dataset/test/
model/*.h5
model/*.keras
model/class_indices.json
outputs/*.png
static/uploads/*
!static/uploads/.gitkeep

.DS_Store

